# Configuration file

exclusions {
}


"item replacements" {
    S:ingotCopper=ThermalFoundation
    S:ingotLead=ThermalFoundation
    S:ingotNickel=ThermalFoundation
    S:ingotSilver=ThermalFoundation
    S:ingotTin=ThermalFoundation
    S:ingotBronze=TConstruct
	S:ingotAluminum=TConstruct
}


replacements {
    S:oreCopper=ThermalFoundation
    S:oreLead=ThermalFoundation
    S:oreNickel=ThermalFoundation
    S:oreSilver=ThermalFoundation
	S:oreTin=ThermalFoundation
	S:oreAluminum=TConstruct
}


toomanydanyores {
    # Try increasing this value if you experience lag [range: 1 ~ 1200, default: 100]
    I:"Merge Items Every X Ticks"=100
}


